/*
    Application window styling
    -------------------------------------
*/
#appwindow {
    position: absolute;
    left:       0;
    right:      0;
    top:        0;
    bottom:     8.5rem;

    padding:    0.25rem;
    overflow:   auto;
    margin-top: 55px;
}

#appwindow h1,
#appwindow h2,
#appwindow h3 {
    margin: 0;
    padding: 0;
}

#appwindow .container,
#appwindow .audiopanel {
    margin:     5px;
    padding:    5px;

    -moz-border-radius: 5px;
    border-radius:      5px;
}

#appwindow .audiopanel {
    background-color: #fcfcfc;
}

#appwindow .container {
    background-color: #f7f3de;
}

/* Button style */
.ui-button.ui-widget{
    min-width: 10rem;
}

.navbar-brand {
  float: none !important;
  text-align:center;
  }
